section(data-background-iframe="http://www.htmlhifive.com/")

section#fuga
  h1 header 1
  h2 header 2

section
  h5 header 1
    p
      | よし！
      a(href='#fuga') このリンク
      | はfugaスライドに飛びます。

section(data-background-iframe="http://itpro.nikkeibp.co.jp/atcl/column/14/121100125/021800021/")
