style.
  .axis path, .axis line {
    fill: none;
    stroke: #fafafa;
    shape-rendering: crispEdges;
  } 

  .axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: #fafafa;
  }
script(src="js/vendor/head.min.js")
script(src="js/vendor/reveal.min.js")
script(src="js/main.js")
