text-color = #444
text-color-acc = #9d3232
text-color-dim = #888

color-accent = #9d3232

.row
  display -webkit-box
  display -webkit-flex
  display flex
  -webkit-flex-direction row
  flex-direction row
  
  .col-1
    -webkit-flex-grow 1
    flex-grow 1
  .col-2
    -webkit-flex-grow 2
    flex-grow 2
  .col-3 
    -webkit-flex-grow 3
    flex-grow 3
  .col-4
    -webkit-flex-grow 4
    flex-grow 4
  .col-5
    -webkit-flex-grow 5
    flex-grow 5
  .col-6
    -webkit-flex-grow 6
    flex-grow 6
  .col-7
    -webkit-flex-grow 7
    flex-grow 7
  .col-8
    -webkit-flex-grow 8
    flex-grow 8

div.col-3
  font-size: 0.8em;
  float left
  width 30%
div.col-7
  float right
  width 60%

h1,h2,h3,h4,h5,h6
  &.highlight
    color color-accent

@font-face {
  font-family: "MyYuGothicM";
  font-weight: normal;
  src: local("YuGothic-Medium"),
       local("Yu Gothic Medium"),
       local("YuGothic-Regular");
}

@font-face {
  font-family: "MyYuGothicM";
  font-weight: bold;
  src: local("YuGothic-Bold"),
       local("Yu Gothic");
}

h1,h2,h3,h4,h5,h6 {
    &.chapter {
       margin-top: 20%; 
    }
}

.slide-background {
    &:before {
        content: url(../img/banner_back.png);
        position: absolute;
        top: 0px;
        right: 0px;
    }
    &:after {
        content: url(../img/banner.png);
        position: absolute;
        top: 0px;
        right: 0px;
    }
}

.reveal .slides {
    section {
    p,li,div {
        font-family:
            -apple-system,
            BlinkMacSystemFont,
            "Hiragino Kaku Gothic ProN",
            MyYuGothicM,
            Meiryo,
            sans-serif;
        color: text-color;
        font-weight: normal;
    }
    h1,h2,h3,h4,h5,h6 {
        text-transform: none;
        font-family:
            -apple-system,
            BlinkMacSystemFont,
            "Hiragino Kaku Gothic ProN",
            MyYuGothicM,
            Meiryo,
            sans-serif;
        color: text-color;
        font-weight: bold;
    }
    img {
        border: 0px;
        box-shadow: none;
        &.book {
            border-top: 2px solid #666;
            border-right: 5px solid #888;
            border-bottom: 5px solid #888;
            border-left: 2px solid #666;
            transform: rotate(6deg);
            box-shadow: 5px 5px 3px #666;
        }
    }
    li {
        line-height: 1.25em;
    }
    &.copyright {
        ul,li {
            font-size: 0.8em;
        }
    }
    }
}

.footer {
    position: absolute;
    opacity: .5;
    bottom: 1em;
    left: 1.3em;
    font-size: 1.5em;
    &:before {
        content: "";
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 1.2em;
        height: 3em;
        opacity: 1;
        background-color: rgb(76,188,215);
    }
}

div.example{
    text-align:left;
    margin-right: 25px;
    width: 600px;
    height: 400px;
    overflow: hidden;
    border: 15px solid #444;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #4444;
    .example-content {
        position: relative;
        width: 960px;
        height: 640px;
        overflow: hidden;

        iframe {
            position: absolute;
            transform:scale(0.65);
            transform-origin: 0 0;
        }
        img {
            position: absolute;
            width: 600px;
        }
    }
    &.small {
    .example-content {
        width: 1600px;
        height: 1200px;
        overflow: hidden;

        iframe {
            transform:scale(0.5);
            transform-origin: 0 0;
        }
        img {
            position:absolute;
            width: 600px;
        }
    }
    }
}

.top-row {
    height: 60%;
}

.bottom-row {
    height: 35%;
}

.highlight {
    color: text-color-acc!important;
}

.right-col {
    margin-top: 15px;
    text-align: left;
    width: 60%;
    float: right;
}
